{{!< default}}

<main class="content" role="main">
  <div class="videoContainer">
    <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Dhot2OJKKZc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="errorBody">
    <a href="/">Take Me Home!</a>
  </div>
</main>